<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .container {
      background: red;
      width: 400px;
      clear: both;
    }
    .p1 {
      float: left;
      background: green;
      width: 200px;
      height: 50px;
    }
    .p2 {

    }
    .clear {
      height: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <span class="p1">
      float
    </span>
    <div class="p2">
        文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
    </div>
  </div>
  <div class="container">
    <span>abc</span>
    <span class="p1">
      float
    </span>
    <span class="p1">
        float
    </span>
    <div class="clear">1</div>
  </div>
    
</body>
</html>