<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .per {
        width: 500px;
        height: auto;
        border: 1px solid #000;
      }
      .test {
        width: 100px;
        height: 30px;
        background: red;
        border: 1px solid #fff;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="per">
      <div class="test"></div>
      <div class="test"></div>
      <div class="test"></div>
      <div class="test"></div>
    </div>
  </body>
</html>
