<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <style>
      .test {
        width: 100px;
        height: 30px;
        background: red;
        border: 1px #fff solid;
        float: left;
      }

      .per {
        width: 500px;
        height: auto;
        border: 1px solid #000;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="per">
      <div class="test"></div>
      <div class="test"></div>
    </div>
    <!-- clear: 
        left: 不允许左侧有浮动对象
        righrt: 不允许右侧有浮动对象
        both: 不允许左右有浮动对象 -->
  </body>
</html>
