body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  line-height: 0;
  height: 0;
  clear: both;
  zoom: 1;
}
.wrap{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.top {
  height: 30px;
  background-color: #f5f5f5;
}
.header{
  height: 92px
}
.nav{
  height: 36px;
  background: #60bff2;
}
.banner{
  width: 802px;
  height: 414px;
  padding: 9px 0 0 198px;
  margin: 0 auto;
}
.banner-slider{
  float: left;
  width: 544px;
  height: 414px;
  background-color: #8edff3;
}
.banner-help{
  float: right;
  width: 250px;
  height: 146px;
  margin-top: 12px;
  background-color: #eee;
}
.banner-search{
  float: right;
  width: 250px;
  height: 255px;
  background-color: #ccc;
}
.content{
  padding: 10px 0 38px 0;
}
.content-tab {
  float: left;
  width: 742px;
  height: 490px;
  background-color: #eee
}
.content-news,
.content-close {
  float: right;
  width: 248px;
  height: 236px;
  border: 1px solid #ccc;
}
.content-close {
  margin-top: 12px;
  border-color: red;
}
.footer{
  height: 132px;
  padding: 25px 0;
  background-color: #eceef2;
}
