<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>06_列表渲染</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(item, index) in list" :key="index">
        {{index}} ---- {{item.name}} ----({{item.age}})
         ---- <button @click="deleteElement(index)">delete</button>
         ---- <button @click="updateElement(index)">update</button>
      </li>
    </ul>
      
      <li v-for="(val, key) in list[0]" :key="key">
        {{val}} ---- {{key}}
      </li>
      
    </ul>
  </div>
  <!--
1. 列表显示
  数组: v-for / index
  对象: v-for / key
2. 列表的更新显示
  删除item
  替换item
-->

  <script type="text/javascript" src="../../js/vue.js"></script>
  <script type="text/javascript">
    const vm = new Vue({
      el: '#app',
      data: {
        list: [{
          name: 'lisi',
          age: 24,
        }, {
          name: 'wangwu',
          age: 25,
        }, {
          name: 'jack',
          age: 29,
        }, {
          name: 'zhangsan',
          age: 23,
        }, {
          name: 'yinzifan',
          age: 23,
        },]
      },
      methods: {
        deleteElement(index) {
          console.log('delete', index)
          this.list.splice(index, 1)
        },
        updateElement(index) {
          console.log('update', index)
          this.list.splice(index, 1, {name: 'updated', age: 100})
        }
      }
    })
  </script>
</body>

</html>